*{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
	font-family: 'Kreon', sans-serif;
	min-width: 500px;
}

:root{
	--red: rgb(183, 27, 16);
	--yellow: 	rgb(224, 215, 47);
}

header{
	background: var(--yellow);	
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.6rem;
}

.logo{
	align-items: center;
	display: flex;
}

h1{
	text-transform: uppercase;
	font-size: 2.2rem;
	padding: 0.5rem;
	font-weight: 300;
}

h1 b{
	font-weight: 600;
}

.apresentation{
	height: 90vh;
	position: relative;
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.93);
}

.container-apresentation{
	padding: 20px;
	color: rgba(255,255,255,0.8);
}

.container-apresentation h2{
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 2rem;
	text-align: center;
}

.container-apresentation h2 b{
	font-weight: 600;	
	color: var(--yellow);
}

.container-apresentation p{
	font-size: 19px;
	width: 95%;
	margin: 0 auto;
	font-weight: 400;
	text-align: justify;
}

.botoes{
	margin-top: 20px;
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
}

.botoes .button{
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 15px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	background: var(--yellow);
	margin-right: 20px;

	transition: 0.2s;
}

.botoes a{
	text-decoration: none;
	color: rgba(0,0,0,0.9);
	font-weight: 600;
	width: 170px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	border-radius: 15px;
	background: var(--yellow);
}

.curve{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.curve img{
	width: 100%;
}

.cursos{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.cursos h1{
	width: 45%;
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	border-bottom: solid 3px rgba(0,0,0,0.6);
	margin: 30px 0px 30px 0px;
}

.curso{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.curso-html,
.curso-css,
.curso-js{
	display: flex;
	border-radius: 15px;
	width: 450px;
	height: 600px;
	flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: rgba(0,0,0,0.87);
	margin-bottom: 15px;	
}

.top-html h2,
.top-css h2,
.top-js h2{
	margin-top: 20px;
	border-bottom: solid 1px rgba(255,255,255,0.9);
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
}

.top-html,
.top-css,
.top-js{
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-html img,
.top-css img,
.top-js img{
	padding:10px;
}

.curso-html p,
.curso-css p,
.curso-js p{
	width: 90%;
	text-align: justify;
	margin: 0 auto;
	display: block;
	color: rgba(255,255,255,0.7);
	font-size: 18px;
}

.curso-html a,
.curso-css a,
.curso-js a{
	padding: 20px 30px;
	border-radius: 15px;	
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	background: var(--yellow);
	text-decoration: none;
	color: rgba(0,0,0,0.9);
}

a{
	
	outline: none;
}

.curva-baixo{	
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
}

.curva-baixo img{
	width: 100%;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background: rgba(0,0,0,0.9);
	height: 20vh;
	color: rgba(255,255,255,0.8);
}

footer p{
	font-size: 22px;
}

footer a{
	margin-top: 5px;
	text-decoration: none;
	font-size: 18px;
	color: rgba(255,255,255,0.5);
}

@media screen and (min-width: 1200px){

	.container-apresentation p{
		width: 70%;
	}

	.cursos{
		height: 100vh;
	}

	.cursos h1{
		width: 25%;
	}

	.curso-html,
	.curso-css,
	.curso-js{
		margin-bottom: 0;
		margin-right: 20px;
	}

	.curva-baixo{
		display: none;
	}

	footer{
		height: 15vh;
	}
}