*{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

:root{
	--red: rgb(183, 27, 16);
	--yellow:	rgb(224, 215, 47);
}

header{
	background: var(--yellow);	
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.6rem;
}

.logo{
	align-items: center;
	display: flex;
}

h1{
	text-transform: uppercase;
	font-size: 1.3rem;
	padding: 0.5rem;
	font-weight: 300;
}

h1 b{
	font-weight: 600;
}

.apresentation{
	flex-direction: column;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.93);
}

.container-apresentation{
	width: 100%;
	color: rgba(255,255,255,0.8);
}

.container-apresentation h2{
	margin: 20px 0px 20px 0px;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}

.container-apresentation h2 b{
	font-weight: 600;	
	color: var(--yellow);
}

.container-apresentation p{
	font-size: 14px;
	width: 90%;
	margin: 0 auto;
	font-weight: 400;
	text-align: justify;
}

.botoes{
	margin: 20px 0px 20px 0px;
	display: flex;
	padding: 20px 0px 20px 0px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.botoes .button{
	line-height: 60px;
	text-align: center;
	border-radius: 5px;
	font-size: 17px;
	font-weight: 700;
	width: 90%;
	background: var(--yellow);
	margin-bottom: 10px;
	padding: 0px 8px 0px 8px;

}

.botoes a{
	width: 90%;
	text-decoration: none;
	color: rgba(0,0,0,0.9);
	font-weight: 700;
	line-height: 60px;
	text-align: center;
	font-size: 17px;
	border-radius: 5px;
	padding: 0px 8px 0px 8px;
	background: var(--yellow);
}

.curve{
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.curve img{
	width: 100%;
}

.cursos{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.cursos h1{
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	border-bottom: solid 3px rgba(0,0,0,0.6);
	margin: 30px 0px 30px 0px;
}

.curso{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.curso-html,
.curso-css,
.curso-js{
	display: flex;
	border-radius: 15px;
	width: 90vw;
	padding-bottom: 20px;
	height: 500px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: rgba(0,0,0,0.87);
	margin-bottom: 15px;	
}

.top-html h2,
.top-css h2,
.top-js h2{
	border-bottom: solid 1px rgba(255,255,255,0.9);
	width: 80%;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
}

.top-html,
.top-css,
.top-js{
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-html img,
.top-css img,
.top-js img{
	width: 130px;
	padding:15px;
	margin-bottom: 10px;

}

.curso-html p,
.curso-css p,
.curso-js p{
	width: 88%;
	text-align: justify;
	margin: 0 auto;
	display: block;
	padding: 1rem;
	color: rgba(255,255,255,0.7);
	font-size: 14px;
}

.curso-html a,
.curso-css a,
.curso-js a{
	padding: 15px 20px;
	border-radius: 8px;	
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background: var(--yellow);
	text-decoration: none;
	color: rgba(0,0,0,0.9);
	width: 45%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

a{
	outline: none;
}

.curva-baixo img{
	width: 100%;
}

footer{
	border-radius: 5px 5px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.9);
	height: 15vh;
	color: rgba(255,255,255,0.8);
}

footer p{
	font-size: 16px;
}

footer a{
	margin-top: 5px;
	text-decoration: none;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}

@media screen and (min-width: 1200px){

	.apresentation{
		height: 90vh;
	}

	.container-apresentation h2{
		font-size: 2.5rem;
	}
	.container-apresentation p{
		width: 70%;
		font-size: 1.2rem;	
	}

	.botoes .button{
		font-size: 24px;
		width: 200px;
		height: 70px;
		line-height: 70px;
		border: solid 2px rgba(255,255,255,0.8);
	}

	.botoes a{
		font-size: 24px;
		width: 220px;
		height: 70px;
		line-height: 70px;
		border: solid 2px rgba(255,255,255,0.8);
	}

	.cursos{
		height: 100vh;
	}

	.cursos h1{
		width: 25%;
		font-size: 2.2rem;
	}

	.curso-html,
	.curso-css,
	.curso-js{
		width: 470px;
		height: 640px;
		margin-bottom: 50px;
		margin-right: 10px;
	}

	.curso-html h2,
	.curso-css h2,
	.curso-js h2{
		font-size: 1.8rem;
	}

	.curso-js h2{
		width: 85%;
	}

	.curso-html p,
	.curso-css p,
	.curso-js p{
		font-size: 1.2rem;
	}

	.curso-html a,
	.curso-css a,
	.curso-js a{
		font-size: 24px;
		border: solid 2px rgba(255,255,255,0.8);

	}

	footer{
		height: 15vh;
	}
}